<%- include ("partials/header") %>
<body>
    <%- include ("partials/navbar") %>
    
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tasa</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                    </tr>
               </thead>
                <tbody> 
                    <% data.forEach(function(tasa) { %>
                        <tr>
                            <td><%= tasa.name %></td>
                            <td><%= tasa.description %></td>
                            <td><%= tasa.fecha %></td>
                            <td>
                                <a href="/update/<%= tasa.id %>" class="btn-sm btn-secondary">
                                    <i class="fas fa-marker">Edit</i>
                                </a>
                                <a href="/delete/<%= tasa.id %>" class="btn-sm btn-danger">
                                    <i class="far fa-trash-alt">Remove</i>
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
                <form action="/add" method="post">  
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Tasa" class="form-control">
                        <input type="text" name="description" placeholder="Description" class="form-control">
                        <input type="text" name="fecha" placeholder="Fecha" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>                
            </div>
          </div>
        </div>
    </div>
</div>
<%- include ("partials/footer") %>

</body>
</html>

