<!--Se le da funcionalidad a la vista de guardar cambios -->

<%- include ("partials/header.ejs") %>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">  
                        <!--Se actualiza el formulario -->
                        <div class="form-group">
                            <input type="text" name="name" value="<%= data.name %>" class="form-control">
                            <input type="text" name="description" value="<%= data.description %>" class="form-control">
                            <input type="text" name="fecha" value="<%= data.fecha %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include ("partials/footer.ejs") %>
</body>
</html>
